# This is a minimal docker-compose.yml template for running a Duniter instance
# For more detailed examples, look at docker/compose folder

version: "3.5"

services:
  duniter-v2s:
    container_name: duniter-v2s
    # choose the version of the image here
    image: duniter/duniter-v2s:v0.4.0
    ports:
      # telemetry
      - 9615:9615
      # rpc
      - 9933:9933
      # rpc-ws
      - 9944:9944
      # p2p
      - 30333:30333
    environment:
      DUNITER_INSTANCE_NAME: "duniter_local"
      DUNITER_CHAIN_NAME: "dev"
      #DUNITER_DISABLE_PROMETHEUS: "false"
    volumes:
      - duniter-local-data:/var/lib/duniter

volumes:
  duniter-local-data:
