# Runtimes

The runtimes have been built using [{srtool_version}](https://github.com/paritytech/srtool) and `{rustc_version}`.

## ĞDev

```
🏋️ Runtime Size:		{runtime_human_size} ({runtime_size} bytes)
🔥 Core Version:		{core_version}
🗜 Compressed:		Yes: {compression_percent} %
🎁 Metadata version:		{metadata_version}
🗳️ system.setCode hash:   {proposal_hash}
#️⃣ Blake2-256 hash:    {blake2_256}
```

# Changes

{changes}
